html {
  height: 100%;
}

body {
  background-color: #fcccff;
  color: #444;
  font-family: "sans-serif";
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 100%;
  width: 100%;
}
a {
  height: 5vh;
  line-height: 5vh;
  color: #444;
  font-size: max(2vh, 1vw);
}
iframe {
  height: 90vh;
  max-height: 1200px;
  width: calc(100vw + 160px);
  max-width: 800px;
  border-style: none;
  background: #fff;
}
